/*Responsive-Portfolio*/
:root {
  --headings-font-family: "Xanh Mono", monospace;
  --paragraph-font-family: "PT Sans Narrow", sans-serif;
  --border-color: #94b1aa;
  --primary-bg-color: #94b1aa;
  --secondary-bg-color: #f4f6f6;
  --primary-text-color: #000;
  --secondary-text-color: #000;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  padding-bottom: 70px;
}

h1,
h2,
h3 {
  font-family: var(--headings-font-family);
}

p {
  font-family: var(--paragraph-font-family);
  font-size: 18px;
  line-height: 27px;
}

h1 {
  padding-top: 70px;
  font-size: 4em;
  font-weight: bold;
  line-height: 1.5;
}

img {
  box-shadow: var(--box-shadow);
}

.border-container {
  border: 10px outset var(--border-color);
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  max-width: fit-content;
}

.background-color {
  background-color: var(--secondary-bg-color);
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-bg-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-text-color);
  transition: all 200ms ease;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--border-color);
  box-shadow: var(--box-shadow);
  transition: all 200ms ease;
}

.primary-link:hover {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: var(--box-shadow);
  background: var(--secondary-bg-color);
  color: var(--secondary-text-color);
  border: 1px solid var(--border-color);
}

.secondary-link:hover {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-bg-color);
  box-shadow: var(--box-shadow);
  color: var(--primary-text-color);
}

.hero h1,
h2,
h3 {
  text-align: center;
}

.navbar {
  background-color: var(--primary-bg-color);
}

.navbar a {
  color: var(--primary-text-color);
}

.navbar a:hover {
  background-color: var(--secondary-bg-color);
  border-radius: 20px;
}

.navigation-links a {
  margin: px;
}

.logo-nav {
  width: 50px;
  border-radius: 50%;
  margin-right: 5px;
}

.active {
  text-decoration: underline;
}

.border-img {
  border: 10px outset var(--border-color);
}

.project-description {
  padding: 120px 60px;
}

.linkedin-link {
  color: #000;
  text-decoration: underline;
}

.fa-linkedin {
  display: flex;
  font-size: 38px;
  justify-content: left;
  color: #0270ad;
  padding-left: 25px;
  filter: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.3));
}

.fa-github {
  display: flex;
  font-size: 38px;
  justify-content: left;
  color: #000;
  padding-left: 25px;
  filter: drop-shadow(2px 4px 1px rgb(0 0 0 / 0.3));
}

footer .logo img {
  width: 50px;
  border-radius: 50%;
}

footer .footer-border-container {
  border-top: 10px outset var(--border-color);
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  width: 100%;
  background-color: var(--secondary-bg-color);
}

@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }

  h2 {
    font-size: 44px;
  }

  .hero {
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
